{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <ul class="list-group">
        <a href="{% url 'mobile' %}"><li class="list-group-item">All Mobile</li></a>
        {% comment %} {% for value in products %}
        <a href="{% url 'mobileData' 'value' %}"><li class="list-group-item">{{value}}</li></a>
        {% endfor %} {% endcomment %}
        <a href="{% url 'mobileData' 'Xiomi' %}"><li class="list-group-item">Xiomi</li></a>
        <a href="{% url 'mobileData' 'SAMSUNG' %}"><li class="list-group-item">SAMSUNG</li></a>
        <a href="{% url 'mobileData' 'Apple' %}"><li class="list-group-item">Apple</li></a>
        
        
      </ul>
  </div>
  <div class="col-sm-8 offset-sm-1">
    <div class="row">
        {% for product in mobiles %}
      <div class="col-md-4 text-center mb-4">
          <a href="{% url 'product-detail' product.id %}">
              <img src="{{product.product_image.url}}" style="height: 200px;width: 150px;"/>
              <h5>{{product.title}}</h5>
              <p>{{product.discounted_price}}</p>
          </a>
      </div>
      {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}